<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="search"></div>

<div class="form-group">
    <div><label class="col col-form-label"> Search:</label></div>
    <form method="get" th:action="@{/}" class="form-inline">
        <div class="form-row">
            <div class="col">
                <select class="form-control " id="filterTicketId" name="filterTicketId">
                    <option disabled="disabled" selected value=" "> -- select a ticket id --</option>
                    <option th:each="ticket : ${existingTickets}"
                            th:value="${ticket}"
                            th:text="${ticket}">
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-control " id="filterObjectType" name="filterObjectType">
                    <option disabled="disabled" selected value=" "> -- select an object type --</option>
                    <option th:each="ot : ${validObjectTypes}"
                            th:value="${ot}"
                            th:text="${ot}">
                    </option>
                </select>
            </div>
            <div class="col">
                <input type="text" name="filterObjectName" class="form-control" value=""
                       placeholder="type object name">
            </div>
            <div class="col">
                <select class="form-control " id="filterName" name="filterName">
                    <option disabled="disabled" selected value=" "> -- select name --</option>
                    <option th:each="name : ${names}"
                            th:value="${name}"
                            th:text="${name}">
                    </option>
                </select>
            </div>
            <div class="col">
                <select class="form-control " id="referenceEnvsSearch" name="referenceEnvs">
                    <option disabled="disabled" selected value=" "> -- select ref env --</option>
                    <option th:each="ref : ${referenceEnvs}"
                            th:value="${ref}"
                            th:text="${ref}">
                    </option>
                </select>
            </div>
            <div class="col">
                <button type="submit" name="action" class="btn btn-primary">Search</button>
                <a class="btn btn-outline-primary" href="/" role="button">All</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>