<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <title>MTS Rebirth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>

<body>
<h1>MTS Rebirth</h1>
<div th:insert="navBar"></div>

<div class="container">
    <!--Search menus-->
    <div class="form-group">
        <div><label class="col col-form-label"> Search:</label></div>
        <form method="get" th:action="@{/}" class="form-inline">
            <div class="form-row">
                <div>
                    <select class="form-control " id="filterTicketId" name="filterTicketId">
                        <option disabled="disabled" selected value=" "> -- select a ticket id --</option>
                        <option th:each="ticket : ${existingTickets}"
                                th:value="${ticket}"
                                th:text="${ticket}">
                        </option>
                    </select>
                </div>
                <div>
                    <select class="form-control " id="filterObjectType" name="filterObjectType">
                        <option disabled="disabled" selected value=" "> -- select an object type --</option>
                        <option th:each="ot : ${validObjectTypes}"
                                th:value="${ot}"
                                th:text="${ot}">
                        </option>
                    </select>
                </div>
                <div>
                    <input type="text" name="filterObjectName" class="form-control" value=""
                           placeholder="type object name">
                </div>
                <div>
                    <select class="form-control " id="filterName" name="filterName">
                        <option disabled="disabled" selected value=" "> -- select name --</option>
                        <option th:each="name : ${names}"
                                th:value="${name}"
                                th:text="${name}">
                        </option>
                    </select>
                </div>
                <div>
                    <select class="form-control " id="referenceEnvsSearch" name="referenceEnvs">
                        <option disabled="disabled" selected value=" "> -- select ref env --</option>
                        <option th:each="ref : ${referenceEnvs}"
                                th:value="${ref}"
                                th:text="${ref}">
                        </option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" name="action" class="btn btn-primary">Search</button>
                    <a class="btn btn-outline-primary" href="/" role="button">All</a>
                </div>
            </div>
        </form>
    </div>

    <!--Add new record-->
    <div>
        <div class="form-group">
            <div><label class="col-md-2 col-form-label"> Add:</label></div>
            <form th:action="@{/}" method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div>
                        <input type="text" class="form-control " name="ticketNumber" placeholder="Ticket number"/>
                    </div>
                    <div>
                        <select class="form-control " id="actions" name="action">
                            <option th:each="ac : ${actions}"
                                    th:value="${ac}"
                                    th:text="${ac}">
                            </option>
                        </select>
                    </div>
                    <div>
                        <select class="form-control " id="validObjectTypes" name="objectType">
                            <option th:each="objectType : ${validObjectTypes}"
                                    th:value="${objectType}"
                                    th:text="${objectType}">
                            </option>
                        </select>
                    </div>
                    <div>
                        <input class="form-control " type="text" name="objectName" placeholder="Object">
                    </div>
                    <div>
                        <select class="form-control " id="names" name="name">
                            <option th:each="name : ${names}"
                                    th:value="${name}"
                                    th:text="${name}">
                            </option>
                        </select>
                    </div>
                    <div>
                        <select class="form-control " id="referenceEnvs" name="refEnv">
                            <option th:each="refEnv : ${referenceEnvs}"
                                    th:value="${refEnv}"
                                    th:text="${refEnv}">
                            </option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" name="action" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${success}">
            <div class="alert alert-success" role="alert">Added!</div>
        </div>
        <div th:if="${success==false}">
            <div class="alert alert-danger" role="alert">Failed! <span th:text="${error}"></span></div>
        </div>
    </div>


    <!--List of records-->
    <div>
        <table class="table table-bordered" th:object="${records}" id="table">
            <thead>
            <tr>
                <th scope="col">Ticket id</th>
                <th scope="col">Action</th>
                <th scope="col">Type</th>
                <th scope="col">Object</th>
                <th scope="col">Name</th>
                <th scope="col">Ref env</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="record:${records}">
                <td th:text="${record.getTicketNumber()}"></td>
                <td th:text="${record.getAction()}"></td>
                <td th:text="${record.getObjectType()}"></td>
                <td th:text="${record.getObjectName()}"></td>
                <td th:text="${record.getUserName()}"></td>
                <td th:text="${record.getReferenceEnv()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>