<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <title>MTS Rebirth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>

<body>
<h1>MTS Rebirth</h1>
<div class="container">
    <div th:insert="navBar"></div>

    <!--Search menus-->
    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" action="/main" class="form-inline">
                <input type="text" name="filter1" class="form-control"value=""
                       placeholder="Ticket number">
            </form>
            <form method="get" action="/main" class="form-inline">
                <input type="text" name="filter2" class="form-control" value=""
                       placeholder="Object">
            </form>
            <button type="submit" name="actionSearch" value="search" class="btn btn-primary ml-2">Search</button>
        </div>
    </div>


    <!--Add new record-->
    <a class="btn Light" data-toggle="collapse" href="#collapseInput" role="button" aria-expanded="false"
       aria-controls="collapseInput">
        Add
    </a>
    <div class="collapse mb-5" id="collapseInput">
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="text" placeholder="Ticket number"/>
            <input type="text" name="text" placeholder="Action">
            <input type="text" name="text" placeholder="Type"/>
            <input type="text" name="text" placeholder="Object">
            <input type="text" name="text" placeholder="Name"/>
            <input type="text" name="text" placeholder="Ref env">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
    <div>
        <!--List of records-->
        <table th:object="${records}" id="userTable" border="1">
            <tr>
                <th>Ticket id</th>
                <th>Action</th>
                <th>Type</th>
                <th>Object</th>
                <th>Name</th>
                <th>Ref env</th>
                <th>SysTest</th>
                <th>AccTest</th>
                <th>PROD</th>
            </tr>
            <tr th:each="record:${records}">
                <td th:text="${record.getTicketNumber()}"></td>
                <td th:text="${record.getAction()}"></td>
                <td th:text="${record.getObjectType()}"></td>
                <td th:text="${record.getObjectName()}"></td>
                <td th:text="${record.getUserName()}"></td>
                <td th:text="${record.getReferenceEnv()}"></td>
                <td th:text="${record.getSysTestDeployed()}"></td>
                <td th:text="${record.getAccTestDeployed()}"></td>
                <td th:text="${record.getProdDeployed()}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>