<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>MTS Rebirth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <meta charset="UTF-8">-->
</head>
<body>
<div class="container-fluid">
    <h1>MTS Rebirth</h1>
</div>
<div class="container-fluid">
    <div th:insert="navBar"></div>

    <!--   Add name-->
    <div class="form-group">
        <form>
            <div class="form-group">
                <label for="name">Add new mame</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="col">
                <button type="submit" name="action" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>